# Data Cleaning

##  Goals

- Create a Dataframe for the first 3 Quarters
- Column for Home and Away Team
- We can drop the "Season" columns

In [92]:
import pandas as pd
import numpy as np

In [93]:
NBA_1st=pd.read_csv("NBA_1st.csv")
NBA_2nd=pd.read_csv("NBA_2nd.csv")
NBA_3rd=pd.read_csv("NBA_3rd.csv")
NBA_4th=pd.read_csv("NBA_4th.csv")

### Create a Dataframe for the first 3 Quarters

In [94]:
#The column names of "Match up" and "Game Date" have some unwanted strings in between
print(NBA_1st.columns.tolist())

['Team', 'Match\xa0Up', 'Game\xa0Date', 'Season', 'W/L', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-']

In [95]:
#Rename the columns, so I don´t have problems later

NBA_1st.rename(columns={'Match\xa0Up':'Match Up',"Game\xa0Date":"Game Date"}, inplace=True)
NBA_2nd.rename(columns={'Match\xa0Up':'Match Up',"Game\xa0Date":"Game Date"}, inplace=True)
NBA_3rd.rename(columns={'Match\xa0Up':'Match Up',"Game\xa0Date":"Game Date"}, inplace=True)
NBA_4th.rename(columns={'Match\xa0Up':'Match Up',"Game\xa0Date":"Game Date"}, inplace=True)

In [96]:
#transform string "Game Date" into datetime
#sort values, because we want each quarter of a game at the same index number
NBA_1st["Game Date"]=pd.to_datetime(NBA_1st["Game Date"])
NBA_1st=NBA_1st.sort_values(by=['Game Date',"Team"], ascending=False).reset_index(drop=True)

NBA_2nd["Game Date"]=pd.to_datetime(NBA_2nd["Game Date"])
NBA_2nd=NBA_2nd.sort_values(by=["Game Date","Team"],ascending=False).reset_index(drop=True)

NBA_3rd["Game Date"]=pd.to_datetime(NBA_3rd["Game Date"])
NBA_3rd=NBA_3rd.sort_values(by=["Game Date","Team"],ascending=False).reset_index(drop=True)

NBA_4th["Game Date"]=pd.to_datetime(NBA_4th["Game Date"])
NBA_4th=NBA_4th.sort_values(by=["Game Date","Team"],ascending=False).reset_index(drop=True)

In [97]:
NBA_1st.head()

,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,FG%,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,PHI,PHI vs. DET,2020-03-11,NaN,W,12,34,12,21,57.1,...,85.7,2,9,11,8,2,1,4,3,5
1,NYK,NYK @ ATL,2020-03-11,NaN,W,12,33,12,24,50.0,...,100.0,2,14,16,8,2,2,1,4,9
2,MIA,MIA vs. CHA,2020-03-11,NaN,L,12,40,16,19,84.2,...,0.0,0,7,7,13,5,4,5,4,18
3,DET,DET @ PHI,2020-03-11,NaN,L,12,29,10,22,45.5,...,100.0,1,7,8,6,2,2,0,6,-5
4,DEN,DEN @ DAL,2020-03-11,NaN,L,12,29,12,22,54.5,...,0.0,0,9,9,8,3,2,0,2,-4

In [98]:
#check if rows have the same orde
(NBA_4th.Team==NBA_1st.Team).unique()

array([ True])

In [99]:
NBA_2nd.columns

Index(['Team', 'Match Up', 'Game Date', 'Season', 'W/L', 'MIN', 'PTS', 'FGM',
       'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB',
       'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-'],
      dtype='object')

In [100]:
total_stats=['MIN', 'PTS', 'FGM',
       'FGA','3PM', '3PA','FTM', 'FTA','OREB', 'DREB',
       'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-']

first_3=NBA_1st

for stat in total_stats:
    first_3[stat]=NBA_1st[stat]+NBA_2nd[stat]+NBA_3rd[stat]

In [101]:
#create manually the percentages
first_3["FG%"]=first_3["FGM"]/first_3["FGA"]
first_3["3P%"]=first_3["3PM"]/first_3["3PA"]
first_3["FT%"]=first_3["FTM"]/first_3["FTA"]

In [102]:
first_3.head()

,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,FG%,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,PHI,PHI vs. DET,2020-03-11,NaN,W,36,99,32,62,0.516129,...,0.800000,10,27,37,21,11,6,4,15,15
1,NYK,NYK @ ATL,2020-03-11,NaN,W,36,96,37,67,0.552239,...,0.882353,6,32,38,26,10,9,8,13,18
2,MIA,MIA vs. CHA,2020-03-11,NaN,L,36,77,32,63,0.507937,...,0.666667,7,18,25,27,14,7,5,11,-10
3,DET,DET @ PHI,2020-03-11,NaN,L,36,84,28,62,0.451613,...,0.708333,5,19,24,20,8,8,2,20,-15
4,DEN,DEN @ DAL,2020-03-11,NaN,L,36,85,34,63,0.539683,...,0.571429,2,30,32,21,9,4,2,11,1

In [103]:
(first_3.Team==NBA_2nd.Team).unique()

array([ True])

### Column for Home and Away Team

In [104]:
#If "Match Up" contain a "@" the first named team played a away game
# 1 are the home teams 
# 0 are the away teams

first_3["Court"]=first_3["Match Up"].str.contains('@')
first_3["Court"]=np.where(first_3["Court"]==True,0,1)

In [105]:
NBA_4th["Court"]=NBA_4th["Match Up"].str.contains('@')
NBA_4th["Court"]=np.where(NBA_4th["Court"]==True,0,1)

In [106]:
first_3.head()

,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,FG%,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-,Court
0,PHI,PHI vs. DET,2020-03-11,NaN,W,36,99,32,62,0.516129,...,10,27,37,21,11,6,4,15,15,1
1,NYK,NYK @ ATL,2020-03-11,NaN,W,36,96,37,67,0.552239,...,6,32,38,26,10,9,8,13,18,0
2,MIA,MIA vs. CHA,2020-03-11,NaN,L,36,77,32,63,0.507937,...,7,18,25,27,14,7,5,11,-10,1
3,DET,DET @ PHI,2020-03-11,NaN,L,36,84,28,62,0.451613,...,5,19,24,20,8,8,2,20,-15,0
4,DEN,DEN @ DAL,2020-03-11,NaN,L,36,85,34,63,0.539683,...,2,30,32,21,9,4,2,11,1,0

In [107]:
NBA_4th.head()

,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,FG%,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-,Court
0,PHI,PHI vs. DET,2020-03-11,NaN,W,12,25,10,21,47.6,...,3,10,13,7,3,1,0,3,3,1
1,NYK,NYK @ ATL,2020-03-11,NaN,W,12,22,8,19,42.1,...,0,5,5,2,1,3,1,8,-18,0
2,MIA,MIA vs. CHA,2020-03-11,NaN,L,12,21,7,21,33.3,...,2,9,11,5,0,1,0,6,-1,1
3,DET,DET @ PHI,2020-03-11,NaN,L,12,22,11,22,50.0,...,1,7,8,5,1,2,1,4,-3,0
4,DEN,DEN @ DAL,2020-03-11,NaN,L,12,12,5,20,25.0,...,1,7,8,2,7,2,2,9,-17,0

### We can drop the "Season" columns

In [108]:
first_3.drop(columns="Season",inplace=True)
NBA_4th.drop(columns="Season",inplace=True)

In [109]:
first_3.head()

,Team,Match Up,Game Date,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-,Court
0,PHI,PHI vs. DET,2020-03-11,W,36,99,32,62,0.516129,11,...,10,27,37,21,11,6,4,15,15,1
1,NYK,NYK @ ATL,2020-03-11,W,36,96,37,67,0.552239,7,...,6,32,38,26,10,9,8,13,18,0
2,MIA,MIA vs. CHA,2020-03-11,L,36,77,32,63,0.507937,11,...,7,18,25,27,14,7,5,11,-10,1
3,DET,DET @ PHI,2020-03-11,L,36,84,28,62,0.451613,11,...,5,19,24,20,8,8,2,20,-15,0
4,DEN,DEN @ DAL,2020-03-11,L,36,85,34,63,0.539683,13,...,2,30,32,21,9,4,2,11,1,0

In [110]:
first_3.to_csv("first_3_clean.csv",index = False)
NBA_4th.to_csv("NBA_4th_clean.csv", index = False)